:host {
  /*background-color: #106cc8;*/
  color: rgba(255, 255, 255, 0.87);
  display: block;
  height: 48px;
  padding: 0 16px;
}

canvas {
  position: absolute;
  display: block;
  width: 100%;
  height: 48px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}
h1 {
  display: inline;
  font-size: 20px;
  font-weight: normal;
  letter-spacing: 0.1px;
  line-height: 48px;
}
